*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

#nav_bar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#amazon-logo{
    margin-left: 10px;
    height: 40px;
    width: 150px;
    border: transparent;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

#amazon-logo:hover{
    border: 1px solid white;
}

#nav-location{
    height: 40px;
    width: 200px;
    border: transparent;
    display: flex; 
    margin-left: 10px;  
}

#nav-location:hover{
    border: 1px solid white;
}

#nav-icon-div{
    margin-top: 15px;
}

#nav-icon{
    font-size: 15px;
    color: white;
}

#nav-line-div{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-line1{
    font-size: 12px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}

#nav-line2{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

#nav-search{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 800px;
    border: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    justify-content: space-between;
}

#all{
    height: 40px;
    width: 60px;
    background-color: rgb(182, 182, 182);
    text-align: center;
}

#all:hover{
    background-color: rgba(182, 182, 182, 0.76);
    color: black;
}

.opt{
    text-align: left;
    width: 100px;
    background-color: #FFFFFF;
    color: black;
}

#search-box{
    width: 100%;
    height:40px;
    background-color: white;
    border: none;
    font-size: 1.2rem;
    padding-left: 7px;
}

#nav-search-icon{
    height: 40px;
    width: 80px;
    background-color: #febd69;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-icon{
    font-size: 20px;
}

.sign-in{
    margin-left: 20px;
    height: 40px;
    width: 150px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in:hover{
    border: 1px solid white;
}

.sign-in span{
    margin-left: 2px;
}

#signin-line1{
    font-size: 0.9rem;
}

#signin-line2{
    font-weight: 600;
}

.nav-return{
    height: 40px;
    width: 100px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-return:hover{
    border: 1px solid white;
}

.nav-return span{
    margin-left: 2px;
}

#nav-return-line1{
    font-size: 0.9rem;
}

#nav-return-line2{
    font-weight: 600;
}

#nav-cart{
    height: 40px;
    width: 100px;
    border: transparent;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-cart:hover{
    border: 1px solid white;
}

#cart-icon{
    color: white;
    font-size: 30px;
}

#cart{
    font-weight: 600;
    align-self: flex-end;
}

#nav-shop{
    height: 40px;
    width: 100%;
    background-color: #282c3c;
    display: flex;
    align-items: center;
}

.nav-shop-all-icon{
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-shop-all-icon:hover{
    border: 1px solid white;
}

#nav-shop-icon{
    margin-left: 10px;
}

#nav-shop-all{
    margin-left: 7px;
}

.nav-shop-inner-div {
    height: 100%;
    width: 100%;
    background-color: #282c3c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-shop-inner-div a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.category-div{
    padding: 10px;
}

.category-div:hover{
    border: 1px solid white;
}

#ad-section-top{
    width: 100%;
    height: 230px;
    background-image: url("ad-image-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#ad-section-bottom {
    width: 100%;
    height: 2000px;
    background-image: url("merge.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ad-row{
    height: 420px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.ad-section{
    height: 420px;
    width: 320px; 
    background-color: white;
}

.ad-section-heading{
    font-size: 21px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ad-box-span{
    font-size: 12px;
    color: #0f1111;
}

.ad-box-anchor{
    font-size: 13px;
    color: #0f1111;
    margin-left: 20px;
    text-decoration: none;
}

.ad-box-anchor:hover{
    color: #cc0c39;
    text-decoration: underline #cc0c39;
}

.inner-row{
    width: 310px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}

.inner-row-box{
    width: 160px;
    height: 110px;
    margin-left: 20px;
}

.mobile-ad-section {
    width: 1329px;
    height: 365px;
    background-color: #FFFFFF;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-heading-div {
    margin-top: 18px;

    width: 1309px;
    height: 35px;
    display: flex;
    align-items: center;

    margin-bottom: 7px;
}

h2{
    color: #0f1111;
}
a{
    color: #0f1111;
}

.mobile-heading {
    font-size: 21px;
    margin-left: 20px;
    margin-right: 20px;
}

.mobile-heading-anchor{
    font-size: 14px;
    text-decoration: none;
    color: #007185;
}

.inner-mobile-section {
    height: 285px;
    width: 1309px;  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1fr;
    column-gap: 20px;
}

.mobile-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-image-div {
    height: 200px;
    width: 240px;
    background-color: #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f8f8;

    margin-bottom: 7px;
    
}

.mobile-deal-div {
    width: 240px;
    height: 50px;
   /* background-color: chartreuse;*/
}
.inner-deal-div {
    height: 24px;
    width: 240px;

    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.inner-offer-div {
    width: 89px;
    height: 24px;
    background-color: #cc0c39;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.limited-deal-span {
    font-size: 12px;
    color: #cc0c39;
    font-weight: 700;
}

.model-rate-span {
    color: #0f1111;
    font-size: 13px;
}

#amazon-sign-in{
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sign-button button{
    width: 100px;
    height: 40px;
    text-align: center;
    color: black;
    background-color: #febd69;
    border: solid 1px black;
    border-radius: 5px;
}

.back-to-top-div{
    height:50px;
    width: 1349px;
    background-color: #50546c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top-div{
    height: 50px;
    width: 100%;
    background-color: #384b63ef;

    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top-div span{
    color: #FFFFFF;
    font-size: 12px;
}

.nav-footer-contact-us {
    height: 200px;
    width: 100%;
    background-color: #232F3E;

    display: flex;
    justify-content: space-between;
}

.nav-footer-contact-div {
    height: 250px;
    /*background-color: #cc0c39;*/
    margin-top: 25px;
}


.nav-footer-contact-div span {
    color: #DDDDDD;
    font-size: 14px;
}

.contact-us-heading {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}



.contact-us-ul{
    list-style-type: none;
}

.contact-us-ul li {
    margin-top: 7px;
    font-weight: 300;
}

.nav-footer-contact-div1 {
    margin-left: 300px;
}

.nav-footer-contact-div4 {
    margin-right: 300px;
}

hr{
    color: white;
    font-weight: 50;
  
}
.amazon-logo-footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232F3E;
}

.amazon-footer-countries-outer-div {
    height: 60px;
    width: 1349px;
    background-color: #232F3E;
}
.amazon-footer-countries{
    height: 36px;
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.amazon-footer-countries span{
    font-size: 12px;
    color: #DDDDDD;
    padding-left: 7px;
    padding-right: 7px;
}

.amazon-footer-countries span:hover{
    text-decoration: underline;
    transform: translateY(-3px);
}

.amazon-footer-services {
    height: 160px;
    width: 1349px;

    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #131A22;

    display: flex;
    justify-content: center;
}

.services-table-row td {
    height: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.services-table-row2 td{
    padding-top: 30px;
}

.services-heading{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
}

.services-content {
    font-size: 11px;
    line-height: 0.2;
    color: #CCCCCC;
}